.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: sticky;
  top: 0;
}

/* 접혔을 때 */
.sidebar.collapsed {
  width: 80px;
}

.logo {
  padding: 30px;
  font-size: 24px;
  font-weight: 900;
  color: #4d44ff;
  text-align: center;
}

.menu-list {
  flex: 1;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
  color: #555;
  transition: all 0.2s;
  white-space: nowrap;
}

.menu-item:hover {
  background-color: #f8f9ff;
}

.menu-item.active {
  background-color: #f1f3ff;
  /* border: 1px dotted #a29dfa; */
}

.sidebar.collapsed .menu-item {
  justify-content: center;
  padding: 12px 0;
}

.icon {
  font-size: 20px;
  min-width: 30px;
  display: flex;
  justify-content: center;
}

.label {
  margin-left: 12px;
  font-size: 15px;
}

.logout-section {
  padding: 20px;
  border-top: 1px solid #f8f8f8;
}