/* src/components/rider/mypage/help/RiderFaqList.css */

.faq-container {
  padding: 1.2rem 0;
  background-color: #fff;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.faq-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.faq-report-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.faq-report-btn:disabled {
  opacity: 0.55;
  cursor: not-allowed;
  box-shadow: none;
}

.faq-report-btn {
  margin-top: 18px;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 8px;
  background: #a992fe;
  color: black;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.07);
  transition: transform 0.12s ease, opacity 0.12s ease;
}

.faq-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  border-bottom: 1px solid #dee2e6;
}

.faq-tab {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #868e96;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
}

.faq-tab.active {
  color: #A992FE;
  border-bottom-color: #A992FE;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  border-bottom: 1px solid #f1f3f5;
}

.faq-question-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px 20px 30px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.faq-question-text {
  font-size: 1rem;
  padding: 0 10px 0 0;
  font-weight: 600;
  color: #495057;
}

.faq-arrow {
  font-size: 1.2rem;
  color: #adb5bd;
  transition: transform 0.3s ease;
}

.faq-arrow.open {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  background-color: #f8f9fa;
}

.faq-answer.open {
  max-height: 300px;
  /* Adjust as needed */
  transition: max-height 0.4s ease-in, padding 0.4s ease-in;
}

.faq-answer-content {
  padding: 10px 30px 10px 30px;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #343a40;
  border-top: 1px solid #e9ecef;
}