/**
 * @file src/components/main/auth/MyPage.css
 * @description 마이 페이지
 * 251217 v1.0.0 sara init 
 */

.mypage-frame {
  max-width: var(--com-web-max-width);
  margin: 0 auto;
  padding: var(--com-section-padding) var(--com-container-padding);
}

.mypage-frame--unauth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.mypage-lock-box {
  width: 100%;
  max-width: 400px; /* 로그인 박스 크기와 통일 */
  min-width: 280px; /* 아주 작은 기기 대응 */
  margin: 0 auto;
  padding: 40px 30px;
  border: 1px solid var(--com-content-border-color);
  border-radius: 24px;
  background-color: var(--com-color-light-gray);
  text-align: center;
  box-sizing: border-box;
}

.lock-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.mypage-login-btn {
  margin-top: 24px;
  padding: 12px 40px;
  background: var(--com-button-content --com-font-gray);
  color: var(--com-button-content);
  border: none;
  border-radius: 12px;
  font-weight: var(--com-font-weight-heavy);
  cursor: pointer;
}

.mypage-user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--com-content-border-bottom);
}

.profile-circle {
  width: 70px;
  height: 70px;
  background: var(--com-color-section-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--com-sidebar-title-font-color);
}

.user-name {
  font-size: var(--com-font-size-title);
  font-weight: var(--com-font-weight);
  color: var(--com-font-primary-color);
}

.user-email {
  color: var(--com-font-gray);
  font-size: var(--com-font-size-sidebar);
}

.mypage-status-card {
  background: var(--com-color-section-bg);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--com-content-border-color);
}

.status-title {
  font-size: var(--com-font-size-sub-title);
  font-weight: var(--com-font-weight-heavy);
  margin-bottom: 25px;
}

.status-progress-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.progress-step {
  flex: 1;
  text-align: center;
  font-size: var(--com-font-size-content);
  font-weight: var(--com-font-weight-heavy);
  position: relative;
  color: var(--com-sidebar-item-font-color);
}

.progress-step.is-done {
  color: var(--com-font-green);
}

.progress-step.is-active {
  color: var(--com-font-primary-color);
}
 
@media (max-width: 375px) {
  .mypage-lock-box {
    max-width: var(--com-mobile-max-width); /* 355px */
  }
}

