/**
 * @file src/components/common/FullScreenLoader.css
 * @description Full screen loading UI (blank)
 * 260127 v1.0.0 sara init 
 */

.fs-blank{
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #fff;
}
