/**
 * @file src/components/common/Hamburger01.css
 * @description hamburger menu
 * 251217 v1.0.0 sara init 
 */

.hamburger01-nav {
  display: flex;
  flex-direction: column;
  margin-top: var(--com-gap-md);
}

.hamburger01-nav-item {
  display: flex;
  align-items: center;
  padding: var(--com-size-subtitle) var(--com-size-icon);
  text-decoration: none;
  border-radius: var(--com-radius-md);
  transition: background-color 0.3s ease;
}

.hamburger01-nav-item:active {
  background: var(--com-gradient-rainbow);
}

.hamburger01-nav-item:active .hamburger01-nav-icon,
.hamburger01-nav-item:active .hamburger01-nav-label {
  color: var(--com-color-black);
}

.hamburger01-nav-icon {
  width: var(--com-size-icon);
  height: var(--com-size-icon);
  margin-right: var(--com-size-subtitle);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--com-color-black);
  font-weight: 900;
}

.hamburger01-nav-label {
  font-size: var(--com-size-subtitle);
  font-weight: 600;
  color: var(--com-font-gray);
}