* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {

  /* 추가된 변수 from sara */

  /* 기본 배경 색상 (Main Cover, Header 등) */
  --mng-color-white: #ffffff;
  
  /* 콘텐츠 배경색 (약간 회색) */
  --mng-color-light-gray: #f8f8f8;
  
  /* 섹션 구분을 위한 배경색 (Main DLVS, Main PTNS 등) */
  --mng-color-section-bg: #f4f7f6; 
  
  /* 기본 폰트 색상 (가장 진한 색상) */
  --mng-font-primary-color: #212529; 
  
  /* 웹 콘텐츠의 최대 너비 */
  --mng-web-max-width: 1200px;
  
  /* 섹션 간의 일반적인 수직 여백 */
  --mng-section-padding: 60px;

  /* 명시적인 폰트 두께 (font-weight: 700) - Main Info, Fee 등에서 자주 사용됨 */
  --mng-font-weight-heavy: 700;
  /* 얇은 경계선 색상 (border-color) - Table, Box Border에서 사용됨 */
  --mng-content-border-color: #e0e0e0;

  /* ------------------------------------------------------------------------------ */


  /* 기존 변수 from wook */
  
  --mng-sidebar-width: 240px;
  --mng-sidebar-title-font-color: #adb5bd;
  --mng-sidebar-item-font-color: #c2c7d0;
  --mng-font-size-sidebar: 14px;
  /* 기존 900px -> 900으로 변경 */
  --mng-font-weight: 900; 
  --mng-font-gray: #343a40;
  --mng-font-green: #2ecc71;
  --mng-font-blue: #3498db;
  --mng-font-red: #e74c3c;
  --mng-content-border-boottom: #dee2e6;
  --mng-button-content: #fff;
  --mng-font-size-title: 18px;
  --mng-font-size-sub-title: 16px;
  --mng-font-size-content: 12px;
  --mng-container-padding: 20px;
}