* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =========================
     Layout
  ========================= */
  --mng-sidebar-width: 240px;
  --mng-container-padding: 20px;

  /* =========================
     Radius (Global)
  ========================= */
  --mng-radius-sm: 8px;
  --mng-radius-md: 14px;
  --mng-radius-lg: 20px;
  
  /* =========================
     Colors
  ========================= */
  --mng-color-gray-900: #3f3f3f;
  --mng-color-gray-400: #adb5bd;
  --mng-color-gray-300: #c2c7d0;
  --mng-color-border: #dee2e6;

  --mng-color-primary: #b7a8f5;
  --mng-color-success: #2ecc71;
  --mng-color-info: #3498db;
  --mng-color-danger: #e74c3c;
  --mng-color-white: #ffffff;

  /* =========================
     Typography
  ========================= */
  --mng-font-size-xl: 18px;
  --mng-font-size-lg: 16px;
  --mng-font-size-md: 14px;
  --mng-font-size-sm: 12px;

  --mng-font-weight-regular: 400;
  --mng-font-weight-bold: 900;

  /* =========================
     Sidebar
  ========================= */
  --mng-sidebar-title-color: var(--mng-color-gray-400);
  --mng-sidebar-item-color: var(--mng-color-gray-300);

  /* =========================
     Button
  ========================= */
  --mng-btn-bg-primary: var(--mng-color-primary);
  --mng-btn-txt-primary: var(--mng-color-gray-900);
  --mng-btn-bg-secondary: var(--mng-color-gray-400);
  --mng-btn-txt-secondary: var(--mng-color-gray-900);
}